<!-- <div class="container body">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h3>Update Password</h3>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-primary" (click)="onSubmit()" [disabled]="updatePasswordForm.invalid">Submit</button>
            </div>
          </div>
        </div>
        <div class="card-body mb-2">
          <form [formGroup]="updatePasswordForm">
            <div class="form-group">
              <label for="currentPassword">Current Password</label>
              <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control">
              <div *ngIf="updatePasswordForm.get('currentPassword')?.invalid && updatePasswordForm.get('currentPassword')?.touched" class="text-danger">
                Current password is required.
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
              <div *ngIf="updatePasswordForm.get('newPassword')?.invalid && updatePasswordForm.get('newPassword')?.touched" class="text-danger">
                New password is required.
              </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
                <div *ngIf="updatePasswordForm.get('confirmPassword')?.invalid && updatePasswordForm.get('confirmPassword')?.touched" class="text-danger">
                  Confirm password must match the new password.
                </div>
                <div *ngIf="updatePasswordForm.errors?.['mismatch'] && updatePasswordForm.get('confirmPassword')?.touched" class="text-danger">
                  Confirm password must match the new password.
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
   -->
   <div class="container body">
    <div class="d-flex justify-content-center h-100">
        <div class="wrapper">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="">Update Password</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btnchat" (click)="onSubmit()" [disabled]="updatePasswordForm.invalid" *ngIf="userRights[0].addAccess">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="card-body mb-2">
                    <form [formGroup]="updatePasswordForm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group form-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    <div>
                                        <input type="password" class="form-control" placeholder="Current Password" formControlName="currentPassword">
                                        <div *ngIf="updatePasswordForm.get('currentPassword')?.invalid && updatePasswordForm.get('currentPassword')?.touched">
                                            <div *ngIf="updatePasswordForm.get('currentPassword')?.errors?.['required']" class="text-danger">Current password is required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group form-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    <div>
                                        <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
                                        <div *ngIf="updatePasswordForm.get('newPassword')?.invalid && updatePasswordForm.get('newPassword')?.touched">
                                            <div *ngIf="updatePasswordForm.get('newPassword')?.errors?.['required']" class="text-danger">New password is required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group form-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    <div>
                                        <input type="password" class="form-control" placeholder="Confirm New Password" formControlName="confirmPassword">
                                        <div *ngIf="updatePasswordForm.get('confirmPassword')?.invalid && updatePasswordForm.get('confirmPassword')?.touched">
                                            <div *ngIf="updatePasswordForm.get('confirmPassword')?.errors?.['required']" class="text-danger">Confirm password is required.</div>
                                            <div *ngIf="updatePasswordForm.errors?.['mismatch'] && updatePasswordForm.get('confirmPassword')?.touched" class="text-danger">Confirm password must match the new password.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
