

<!-- 
<div class="sidebar" [ngClass]="{'app-side-nav-shrink': opened}">
    <div class="header">
       <ul class="nav-list pt-1">
          <li class="nav-list-item "> <a routerLink="/inbox"> <i class='bx bxs-message-dots'></i> Inbox</a>
          </li>
          <li class="nav-list-item "> <a routerLink="/register"> <i class='bx bxs-message-dots'></i>Register</a>
          </li>
          <li class="nav-list-item "> <a routerLink="/organizations"> <i class='bx bxs-message-dots'></i> Organizations</a>
          </li>
          <li class="nav-list-item "> <a routerLink="/user-roles"> <i class='bx bxs-message-dots'></i> User Roles</a>
          </li>
          <li class="nav-list-item "> <a routerLink="/modules"> <i class='bx bxs-message-dots'></i> Modules</a>
          </li>
          <li class="nav-list-item "> <a routerLink="/org-access-rights"> <i class='bx bxs-message-dots'></i> OrgAccess Rights</a>
          </li>
          <li class="nav-list-item ">
            <a href="#"> <i class='bx bxs-user-circle'></i> User</a>
        </li>
        <li class="nav-list-item ">
            <a href="#"> <i class='bx bxs-group' ></i> Group</a>
        </li>
        <li class="nav-list-item ">
            <a href="#"> <i class='bx bxs-help-circle' ></i> Help</a>
        </li>
        <li class="nav-list-item ">
            <a (click)="logout()" > <i class='bx bx-log-in' ></i> Logout</a>
        </li>
       </ul>
    </div>
 </div> -->

 <div class="sidebar" [ngClass]="{'app-side-nav-shrink': opened}">
    <div class="header">
      <ul class="nav-list">
      </ul>
         <app-menu></app-menu>
    </div>
  </div>
  
  