<p-toast></p-toast>
<div class="container body">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 class="mb-4">User Registration</h3>
			</div>
			<div class="card-body mb-2">
				<form [formGroup]="SignForm" (ngSubmit)="signupForm()">
					<div class="row">

					<div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-briefcase"></i></span>
						</div>
						
                        <select class="form-control" name="orgId" formControlName="organizationID">
							<option *ngFor="let org of organizations" [value]="org.orgId">{{ org.orgName }}</option>
						  </select>
						
					</div>
			     	</div>
					 <div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Username" formControlName="name">
						
					</div>
					</div>
					<div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" formControlName="password">
					</div>
                   </div>
				   <div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Email" formControlName="userEmail">
						
					</div>
                    </div>
					<div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Phone Number" formControlName="userPhone">
						
					</div>
                    </div>
					<div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
						</div>
						
                        <select class="form-control" formControlName="userStatus">
							<option *ngFor="let sts of userStatus" [value]="sts.value">{{ sts.name }}</option>
						  </select>
						
					</div>
					</div>
                    <div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-address-book"></i></span>
						</div>
						
                        <select class="form-control" formControlName="userRoleId">
							<option *ngFor="let role of userRoles" [value]="role.roleId">{{ role.roleName }}</option>
						  </select>
						
					</div>
                   </div>
					<div class="form-group text-right">
						<button type="submit"  class="btn  login_btn" >Submit</button>
					</div>
				</div>
				</form>
			</div>
			<!-- <div class="card-footer">
				<div class="d-flex justify-content-center content">
					Do you have an account?<a [routerLink]="['/login']" class="tb">login</a>
				</div>
				
			</div> -->
		</div>
	</div>
</div>