<p-toast></p-toast>
   <div class="p-2">
    <div class="row">
       <div class="card">
          <div class="card-header d-flex">
            <div class="col-md-6 ">
                <h5>Access Rights</h5>
            </div>
            <div class="col-md-6 text-right">
                    <button type="submit" class="btnchat mr-2"(click)="searchAccessRights()" *ngIf="userRights[0].addAccess">Search</button>
                    <button (click)="SaveRights()"
                  class=" btnchat" *ngIf="userRights[0].addAccess">
                      <i class=" fa-solid fa-file-arrow-down mr-1" aria-hidden="true"></i>Save
                 </button>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="userAccessForm" (ngSubmit)="searchAccessRights()">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group form-group mb-2">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa-solid fa-briefcase"></i></span>
                            </div>
                            <p-dropdown [options]="organizations" formControlName="selectedOrgId" placeholder="Select organization" [editable]="true" optionLabel="orgName" [filter]="true" (onChange)="onOrganizationChange($event)"></p-dropdown>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group mb-2">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                            </div>
                            <!-- <p-dropdown [options]="this.filteredUserRoles" formControlName="selectedRoleId" placeholder="Select role" [editable]="true" optionLabel="roleName" [filter]="true"></p-dropdown> -->
                            <p-dropdown [options]="filteredUserRoles" formControlName="selectedRoleId" placeholder="Select role" [editable]="true" optionLabel="roleName" [filter]="true" (onChange)="onRoleChange($event)"></p-dropdown>
                          </div>
                    </div>
                </div>
               
               
               
            </form>
          </div>
       </div>
   </div>
    
    </div>
 
    <div class="wrapper content-body">
            <p-table [value]="listFiltered" [(selection)]="selectedDetails"
            [scrollable]="true" class="table"  styleClass="p-datatable-gridlines" (onRowSelect)="SelectedDetails($event,true)"
            (onRowUnselect)="UnSelectedDetails($event,false)" scrollHeight="400px" >                  
                <ng-template pTemplate="header">
                    <tr >
                        <th style="width: 4rem">
                       
                            <input type="checkbox"  [(ngModel)]="selectAllChecked"  #checkbox (change)="selectAllRows($event,selectAllChecked)">
 
                        </th>
                        <th >Module</th>
                        <th>Sub Module</th>
                        <th >Add</th>
                        <th >View</th>
                        <th >Delete</th>
                        <th >Edit</th>
                        <th >Cancel</th>
                        <th >Print</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product  let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex">
                        <td>
                            <ng-container>
                                    <p-tableCheckbox [value]="product" [index]="rowIndex" ></p-tableCheckbox>
                                     
                            </ng-container>
                       </td>
                       
                          <td>
                            <span class="spanBlock" tooltipPosition="top">  {{ getModuleName(product.moduleId) }}</span>
                          </td>
                          <td>
                            <span class="spanBlock" tooltipPosition="top">  {{ product.DisplayName }}</span>
                          </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="product.addAccess"  name="AddAccess{{rowIndex}}" (change)="OnRemoveFromArray(product,product.addAccess,rowIndex)">
                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="product.viewAccess" name="ViewAccess{{rowIndex}}" (change)="OnRemoveFromArray(product,product.viewAccess,rowIndex)">
                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="product.deleteAccess" name="DeleteAccess{{rowIndex}}" (change)="OnRemoveFromArray(product,product.deleteAccess,rowIndex)">
                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="product.editAccess" name="EditAccess{{rowIndex}}" (change)="OnRemoveFromArray(product,product.editAccess,rowIndex)">
                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="product.cancelAccess" name="CancelAccess{{rowIndex}}" (change)="OnRemoveFromArray(product,product.cancelAccess,rowIndex)">
                        </td>    
                        <td>
                            <input type="checkbox" [(ngModel)]="product.printAccess" name="PrintAccess{{rowIndex}}" (change)="OnRemoveFromArray(product,product.printAccess,rowIndex)">
                        </td>
 
                    </tr>
                </ng-template>
            </p-table>
    </div>
   
 
   
  