<p-toast></p-toast>
<div class="container body">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
			  <div class="row">
				<div class="col-md-6">
					<h3 class="">Organization</h3>
				</div>
				<div class="col-md-6 text-right">
						<button type="submit" class="btnchat"(click)="org_Form()">Submit</button>
				</div>
			  </div>
			</div>
			<div class="card-body mb-2">
				<form [formGroup]="OrgForm" >
                  <div class="row">
					  <div class="col-md-3 mb-2">
						<div class="input-group form-group mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa-solid fa-industry"></i></span>
							</div>
							
							<div >
								<input type="text" class="form-control" placeholder="Organization Name" formControlName="orgName">
							     <div *ngIf="OrgForm.get('orgName')?.invalid && OrgForm.get('orgName')?.touched">
								  <div *ngIf="OrgForm.get('orgName')?.errors?.['required']" class="text-danger"> required.</div>
							  </div>
							</div>
						</div>
					  </div>
				 
					<div class="col-md-3 mb-2">
                    <div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
						</div>
						<div>
							<div>
								<input type="text" class="form-control" placeholder="Organization Code" formControlName="orgCode">
						     <div *ngIf="OrgForm.get('orgCode')?.invalid && OrgForm.get('orgCode')?.touched">
                              <div *ngIf="OrgForm.get('orgCode')?.errors?.['required']" class="text-danger">required.</div>
                             </div>
							</div>
						</div>
					</div>
				   </div>
				   <div class="col-md-3 mb-2">
                    <div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-user"></i></span>
						</div>
						<div>
							<input type="text" class="form-control" placeholder="contact Person" formControlName="contactPerson"><br>
						<div *ngIf="OrgForm.get('contactPerson')?.invalid && OrgForm.get('contactPerson')?.touched">
                            <div *ngIf="OrgForm.get('contact_person')?.errors?.['required']"  class="text-danger">required.</div>
                        </div>
						</div>
					</div>
                    </div>
					<div class="col-md-3 mb-2">
                    <div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						</div>
						<div>
							<input type="text" class="form-control" placeholder="contact Person Email" formControlName="contactPersonEmail"><br>
						<div *ngIf="OrgForm.get('contactPersonEmail')?.invalid && OrgForm.get('contactPersonEmail')?.touched">
                            <div *ngIf="OrgForm.get('contactPersonEmail')?.errors?.['required']"  class="text-danger">Email is required.</div>
                            <div *ngIf="OrgForm.get('contactPersonEmail')?.errors?.['email']"  class="text-danger">Invalid email address.</div>
                        </div>
						</div>
					</div>
				   </div>
				   <div class="col-md-3 mb-2">
                    <div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
						</div>
						<div>
							<input type="text" class="form-control" placeholder="contact Person Phone" formControlName="contactPersonPhone"><br>
						<div *ngIf="OrgForm.get('contactPersonPhone')?.invalid && OrgForm.get('contact_person_phone')?.touched">
                            <div *ngIf="OrgForm.get('contactPersonPhone')?.errors?.['required']">Phone number is required.</div>
                            <div *ngIf="OrgForm.get('contactPersonPhone')?.errors?.['pattern']">Invalid phone number format.</div>
                        </div>
						</div>
					</div>
                     </div>
					 <div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
						</div>
						
                        <div>
							<select class="form-control" formControlName="orgStatus" style="width:160px">
								<option *ngFor="let sts of org_Status" [value]="sts.value">{{ sts.name }}</option>
							  </select>
						</div>
						
					</div>
					</div>
					<div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						</div>
						<div>
							<input type="text" class="form-control" placeholder="Invoice Email" formControlName="invoiceEmail"><br>
						<div *ngIf="OrgForm.get('invoiceEmail')?.invalid && OrgForm.get('invoiceEmail')?.touched">
                            <div *ngIf="OrgForm.get('invoiceEmail')?.errors?.['required']"  class="text-danger">Email is required.</div>
                            <div *ngIf="OrgForm.get('invoiceEmail')?.errors?.['email']"  class="text-danger">Invalid email address.</div>
                        </div>
						</div>
					</div>
				   </div>
			       <div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-user"></i></span>
						</div>
						<div>
							<input type="text" class="form-control" placeholder="SMTP Username" formControlName="SMTPusername"><br>
						<div *ngIf="OrgForm.get('SMTPusername')?.invalid && OrgForm.get('SMTPusername')?.touched">
                            <div *ngIf="OrgForm.get('SMTPusername')?.errors?.['required']"  class="text-danger">required.</div>
                          </div>
						</div>
					</div>
				    </div>
					<div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<div>
							<input type="password" class="form-control" placeholder="SMTP Password" formControlName="SMTPpassword">
						<div *ngIf="OrgForm.get('SMTPpassword')?.invalid && OrgForm.get('SMTPpassword')?.touched">
                            <div *ngIf="OrgForm.get('SMTPpassword')?.errors?.['required']">Password is required.</div>
                          </div>
						</div>
					</div>
                     </div>
					 <div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-link"></i></span>
						</div>
						<div>
							<input type="text" class="form-control" placeholder="SMTP Url" formControlName="SMTPurl"><br>
						<div *ngIf="OrgForm.get('SMTPurl')?.invalid && OrgForm.get('SMTPurl')?.touched">
                            <div *ngIf="OrgForm.get('SMTPurl')?.errors?.['required']">Url is required.</div>
                          </div>
						</div>
					</div>
                      </div>
					  <div class="col-md-3 mb-2">
					<div class="input-group form-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-anchor"></i></span>
						</div>
						<div>
							<input type="text" class="form-control" placeholder="SMTP Port" formControlName="SMTPport"><br>
						<div *ngIf="OrgForm.get('SMTPport')?.invalid && OrgForm.get('SMTPport')?.touched">
                            <div *ngIf="OrgForm.get('SMTPport')?.errors?.['required']">Port is required.</div>
                          </div>
						</div>
					</div>
					 </div>
					
			</div>

				</form>
			</div>
		
		</div>
	</div>
</div>
