

// @import "../node_modules/primeng/resources/primeng.min.css";
@import "assets/css/bootstrap.min.css";
// @import  url("assets/css/themes.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import "assets/css/bootstrap.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
// @import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import url('https://fonts.googleapis.com/css?family=Numans');
*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Montserrat';
}
body {
    padding: 0px;
    margin: 0;
    background: #f3f3f5;
    width: 100%;

}


th,td{
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
}
ul{
    list-style: none ;
    padding: 0px;
}
li,a,span {
    font-weight: 500;
    font-size: 13px !important;
    text-decoration: none;
}
// header section
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: #042331;
    background-color:  #fec925;
    padding: 0px 28px 0px 25px;
    height: 3rem;
}
.toggleIcon{
  background-color: transparent;
  font-size: 15px;
  color:#0d0d0e;
  cursor: pointer;
}
.toggleIcon :hover{
    background-color: transparent;
    font-size: 15px;
    color:#0d0d0e;
    cursor: pointer;
}
.logo{
  cursor: pointer;
  height: 108px;
  width: 135px;
  border-radius: 50%;
  background-repeat: no-repeat;  
   padding-left: 20px;
}
.avatarImage {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    display: flex;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dasboardInfo p{
    font-size: 18px;
    font-weight: 600;
}
.nav-links{
    list-style: none;
    margin-bottom: 0px;
}

.nav-links-item{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap:12px;
 
}
.nav-list-item{
    margin: 5px 5px 5px 5px;
}
.nav-links-item p{
    font-size: 12px;
    
}
.nav-links-item a{
    transition: all .3s ease-in-out;
    cursor: pointer;
    //  margin: 5px 0px 5px 5px;
}
.nav-links-item .logoutIcon{
    font-size: 15px;
    
}
.headerbar{
    position: fixed;
    width:100%;
    height: 3rem;
    z-index: 2;
    top:0px;
}

   

.table{
    width:100%;
}

  label{
    font-weight:600;
    font-size: 12px;
  }


  .btnchat{
    width:75px;
    padding: 1px 1px ;
    color:#df9711;
    // background-color:#fec925 ;
    border-radius: 5px;
    border: 0px;
    font-size: 12px;
    outline: 2px solid #df9711!important;
}
.btnchat:active{
    background-color:#df9711 ;
    outline: 1px solid #df9711!important;
    color:#272726 ;
    padding: 1px 1px ;
    width:75px;
    font-size: 12px;
}
.btnchat:focus{
    background-color:#df9711 ;
    outline: 1px solid #df9711!important;
    color:#272726 ;
    padding: 1px 1px ;
    width:75px;
    font-size: 12px;
}
.btnchat:hover{
    background-color:#df9711 ;
    outline: 1px solid #df9711!important;
    color:#272726 ;
    padding: 1px 1px ;
    width:75px;
    font-size: 12px;;  
}
  .form-control {
    display: block;
    width: 100%;
    padding: 0.175rem 0.35rem;
    font-size: 1rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-control:active{
    border: 1.5px solid #1E9C98;
  }
  .mandetory-cntrl{
    border: 1.5px solid #1E9C98;
  }


.userLogo{
    height: 100px;
    width:100px;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.info{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}


ul {
    list-style: none;
    padding: 0px;
}

li,
a {
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}


.toggleIcon {
    background-color: transparent;
    font-size: 15px;
    color: #000;
    cursor: pointer;
}

.toggleIcon :hover {
    background-color: transparent;
    font-size: 15px;
    color: #000;
    cursor: pointer;
}

.logo {
    cursor: pointer;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.avatarImage {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    display: flex;
    margin-left: 31px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// header section end
// sidebar section
.dasboardInfo p {
    font-size: 18px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    margin-bottom: 0px;
}

.nav-links-item {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 12px;

}

.nav-list-item {
    margin: 5px 5px 5px 5px;
}

.nav-links-item p {
    font-size: 12px;

}

.nav-links-item a {
    transition: all .3s ease-in-out;
    cursor: pointer;
    //  margin: 5px 0px 5px 5px;
}

.nav-links-item .logoutIcon {
    font-size: 15px;

}

.headerbar {
    position: fixed;
    width: 100%;
    height: 3rem;
    z-index: 2;
    top: 0px;
}

.layout-sidebar {
    position: fixed;
    left: 0;
    width: 46px;
    height: calc(100vh - 3rem);
    background: #000;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all .3s ease;
    overflow-y: scroll;
    .fa-angle-up {
        overflow-y: hidden;
        white-space: nowrap;

    }
    .nav-list-item a {
        color: #fec925;
    }


}

.table {
    width: 100%;
    margin: 0px;
}

.layout-sidebar::-webkit-scrollbar {
    width: 0;
    background: #000000;
}

.app-side-nav {
    &.layout-sidebar {
        width: 210px;
        transition: all .3s ease;
    }

    .nav-list-item a {
        color: #fec925;
       
    }

    .nav-list-item a:hover {
        background-color: transparent;
        border-radius: 5px;
        color: #fff!important;
        transition: all .4s ease-in-out;
        // outline: 1px solid #fec925;
        & i {
            color: #fff;
            transition: all .4s ease-in-out;
        }
    }
    .nav-list-item a:active {
        background-color: transparent;
        border-radius: 5px;
        color: #fff!important;
        transition: all .4s ease-in-out;
        // outline: 1px solid #fec925;
        & i {
            color: #fff;
            transition: all .4s ease-in-out;
        }
    }
    .nav-list-item a:focus {
        background-color: transparent;
        border-radius: 5px;
        color: #fff!important;
        transition: all .4s ease-in-out;
        // outline: 1px solid #fec925;

        & i {
            color: #fff;
            transition: all .4s ease-in-out;
        }
    }
}

.app-side-nav {
    &.containt-section {
        left: 200px;
        width: calc(100% - 200px);
    }

}


.nav-list-item a i {
    font-size: 15px;
    padding-right: 20px;
}

.app-side-nav-shrink {
    &.containt-section {
        left: 210px;
        width: calc(100% - 210px);
        transition: all .3s ease;
    }

}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 12px;
    color: #fec925;
    padding-left: 10px;
    // border-top: 1px solid rgba(255, 255, 255, .1);
    // border-bottom: 1px solid black;
}

.layout-main-container {
    position: absolute;
    left: 0;
    width: 100%;
    top: 3rem;
    z-index: 1;
    margin-top: -2px;

}

.containt-section {
    position: sticky;
    left: 46px;
    width: calc(100% - 46px);
    z-index: 1;
    padding: 8px;
    height: calc(100vh - 3rem);
    transition: all .3s ease;
}

.card {
    padding: 10px;
    background-color: #fff;
}

.logoutBtn {
    background-color: #ED7E23;

    &:hover {
        background-color: #ED7E23;
        color: #ffffff
    }
}

.text-right {
    text-align: right;
}

.employeeData p {
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    margin: 0px;
}

.rowfirst {
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin-bottom: 17px;
    background-color: #fff;
}

label {
    font-weight: 600;
    font-size: 12px;
}

.dasboardInfo .card {
    padding: 10px;
    // background: #0878ac;
    color: #fff
}

.card1 {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 10px;
    margin-top: 50px;
}

.card0 {
    background-image: linear-gradient(173.1deg, rgba(226, 66, 249, 0.94) 10.2%, rgba(79, 147, 249, 1) 77.3%);
}

.employeeData {
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;

}

.btn {
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    border: none;

}

.loginbtn {
 
    height: 45px;
    text-align: center;
    border-radius: 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background-color: #53A0AC !important;
    padding: 10px 0px 10px 7px;
}

.savebtn,
.savebtn:hover,
.savebtn:active {
    background-color: #53A0AC !important;
    color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.175rem 0.35rem;
    font-size: 1rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:active {
    border: 1.5px solid #1E9C98;
}

.mandetory-cntrl {
    border: 1.5px solid #1E9C98;
}

//   sidebar section end

.userLogo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.pl {
    padding-left: 30px;
}

.header p a {
    color: blue
}

.footer a {
    color: blue
}

.body label {
    font-size: 12px !important;
    font-weight: 600;
}

.menubar:active,
.menubar:hover {
    background-color: transparent;
    color: #1e2125;

}

.menubar {
    color: #1e2125;
    font-size: 20px;
    font-weight: bold;
}

// .td {
//     overflow: visible;
// }

.btndlt {
    color: red
}

.exportbtn {
    background-color: #1E9C98;
    ;
}

.modal-backdrop.show {
    opacity: .5;
    z-index: 0;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(50, -50px);
    top: 30px;
}

.modalHeader {
    background-color: lightgray;
}

.iconInfo {
    background: #042331;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;

    .staffIcon {
        font-size: 30px;
    }

    .staffIconApply {
        color: #53A0AC;
        font-size: 30px;
    }

    .staffIconApprove {
        color: seagreen;
        font-size: 30px;
    }

    .staffIconReject {
        color: red;
        font-size: 30px;
    }
}

.infoData label {
    font-size: 14px;
    color: #212529;
    padding: 10px 0px 0px 10px;

}

.nav-list ul {
    position: static;
    display: none;
}

.nav-list li a {
    position: relative;
}

.nav-list li a span i {
    font-size: 15px;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    transition: .4s all;
    color: #ffff
}

.nav-list ul {
    position: static;
    display: none;

    &.show {
        display: block;
    }
}


@media screen and (max-width :1200px) {
    .layout-main-container {
        width: 100%;
    }

    .headerbar {
        width: 100%;
    }
    .surface-card{
        width:100%;
    }
}

@media screen and (max-width :768px) {
    .layout-main-container {
        left: 0px;
    }

    .headerbar {
        width: 100%;
    }

    .app-side-nav.layout-sidebar {
        position: absolute;
        width: 46px;
        height: calc(100vh - 3rem);
    }

    nav .nav-links-item {
        display: none;
        width: 20px;
    }

    .app-side-nav-shrink.containt-section {
        left: 46px;
        width: calc(100% - 46px)
    }

    .col {
        width: 100%;
    }

    .col-md-12 {
        width: 100%;
    }
    .surface-card{
        width:100%;
    }
   
}
@media screen and (min-width :576px){
    .surface-card{
        width:100%;
    }
}
// p-table css
.p-column-filter-menu-button .pi:hover {
    color: #1e2125;
}

.p-datatable-table {
    height: 300px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #0d0d0e !important;
    background: #EEF2FF;
}

// old css
.p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: #B72126;
    color: #fff
}

.p-column-filter-menu-button:hover {
    background-color: #fff;
    color: #0d0d0e;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
}



ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.dropdown-item:active {
    background-color: transparent !important;
    color: #1e2125 !important;
    ;
}




.addorangebtn {
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background: #ED7E23;

    & i {
        padding-right: 5px;
    }

}

.addorangebtn:hover {
    color: #FFFFFF
}

.ml {
    margin-right: -3px;
}

.exportbtn {

    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background: #1E9C98;

    & i {
        padding-right: 5px;
    }
}

.exportbtn:hover {
    background-color: #1E9C98 !important;
    color: #ffffff;
}

.selectBtn {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    border: none;
    color: #4E4E4E;
}

.text-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.btn-close {
    font-size: 14px;
    // background-color: #1e2125;
    color: #fff
}

.backBtn {
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background-color: #5B5D5D;

    & i {

        color: #fff;
    }
}

.backBtn:active.backBtn:focus,
.backBtn:focus {
    background-color: transparent;
    border: 1px solid #5B5D5D;
    color: #5B5D5D;

    & i {
        color: #5B5D5D;
    }
}

.p-datatable-thead {
    padding: 0px;
}






.form-select,
.form-control,
.p-multiselect {
    background-color: #fff;
    border-radius: 6px;
    display: inline-flex;
    width: 97%;
    padding: 0.375rem 0.25rem 0.375rem 0.25rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.0;
    color: #212529;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #919191;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: auto;
}

.pdropdown>span {
    padding: 10px !important;
    margin-top: -8px;

}

.text-danger {
    font-size: 12px;
}

.justify-content-end {
    justify-content: flex-end;

}

.p-dropdown .p-dropdown-trigger {
    background-color: #fff;
    color: #6c757d;
    width: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.p-dialog {
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 1px 3px #0000004d;
    border: 0 none;
    min-width: 40% !important;
    max-width: 80% !important;
}

.p-button.savebtn {
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background-color: #53A0AC;

    & i {
        padding-right: 5px;
    }

}

.savebtn:hover,
.savebtn:active,
.savebtn:focus {
    background-color: #53A0AC;
    border: none !important;
    outline: none !important;
    color: #ffffff;

}


.addorangebtn {
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background: #ED7E23;
}

.addorangebtn:hover,
.addorangebtn:active,
.addorangebtn:focus {
    background: #ED7E23;
    border: none !important;
    outline: none !important;
    color: #fff;

}

.p-calendar {
    width: 98% !important;
    height: 30px;
}

.dropdown-menu-left {
    margin: -40px !important;
}

.p-button-icon-only {
    background-color: #fff !important;
    border: 2px solid #ced4da !important;
    padding: 1.1rem !important;
    border-radius: 0.25rem !important;
    display: inline-flex !important;
}

.p-button-icon {
    color: #e4e9ee !important;
}

.p-inputtext {
    background-color: #fff !important;
    border-radius: 0.25rem !important;
    width: 134px !important;
    padding: 3px 3px !important;
    font-size: 10px!important;
}

.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    color: #343a40;
    padding: 0.5rem;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #dbd5d5;
}

.form-control-label {
    font-size: .4rem;
    color: #202020;
    width: 97%;
}



.p-datatable-responsive-scroll>.p-datatable-wrapper {
    overflow-x: auto;
}



.p-datatable .p-datatable-tbody>tr>td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 0px 0px 0px 0px;
    font-weight: 400;
    flex: 1 1 0;
    align-items: center !important;
}

.p-datatable .p-datatable-thead>tr>th {
    border-width: 0 0 1px 0;
    font-weight: 400;
    color: #fff;
    background: #B72126;
    transition: box-shadow 0.2s;

}
.p-datatable-scrollable .p-datatable-tbody>tr {
    display: flex !important;
    flex-wrap: nowrap !important;
    width: 100%;
}

.p-datatable .p-datatable-thead>tr>td {
    font-weight: 400;
    color: #272525;

}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #fff;
}

.p-column-filter-menu-button {
    color: #fff;

}

.p-column-filter-menu-button:hover,
.p-column-filter-menu-button:active,
.p-column-filter-menu-button:focus {

    color: #202020 !important;

}




.p-datatable .p-datatable-tbody>tr {
    color: #202020 !important;
    transition: box-shadow 0.2s;
    // padding: 0px;
    // height: 25px;
}

.p-datatable .p-datatable-tbody>tr:hover {
    background: #F4F4F4 !important;
    color: #495057;
    transition: box-shadow 0.5s !important;
    cursor: pointer;
}

.p-datatable .p-datatable-tbody>tr:nth-child(even) {
    background: #F4F4F4 !important;
    color: #495057;
    transition: box-shadow 0.5s !important;
    cursor: pointer;
}

.p-chip .p-chip-text {
    line-height: 0.5;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    background-color: transparent;
}

.w1 {
    min-width: 300px;
}

input[type="file"] {
    padding: 5px;

}

.custom-checkbox label,
.custom-radio label {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 26px;
}



.ui-tooltip-text.ui-shadow.ui-corner-all {
    background-color: black !important;
}

.ui-tooltip .ui-tooltip-text {
    width: max-content;
}

.multiselect-dropdown .dropdown-btn {
    display: contents !important;
}

.ui-panel .ui-panel-titlebar {
    background-color: #CCC !important;
}

.ui-panel {
    border: 2px groove !important;
}

.ui-dialog .ui-dialog-content {
    background-color: whitesmoke !important;
}

iframe {
    overflow: hidden;
}


.custom-theme-modal th[ng-reflect-field="cciuid"] {
    width: 250px !important;
}

.custom-theme-modal th:last-child[ng-reflect-field="childUID"] {
    width: 350px !important;
}

.custom-theme-modal .ui-paginator-bottom.ui-paginator.ui-widget.ui-widget-header.ui-unselectable-text.ui-helper-clearfix {
    background: #CCC;
    padding: 8px 0;
}

.custom-theme-modal.modal-body {
    padding: 0 !important;
}

.datedialog {
    z-index: 9999 !important;
}

.p-inputtext {
    font-size: 1rem;
    color: #495057;
    background: #ffffff;
    border: 1px solid #919191;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
    padding: 0.35rem 0.35rem!important;

}



a {
    cursor: pointer;
}


.pcalendar {

    height: 30px !important;
    margin-bottom: 5px;
}

.p-datepicker-group-container {
    width: 290px;


}

.p-datepicker table td {
    padding: 0px !important;
}

.p-datepicker {
    padding: 0px !important;
    width: 450px;
}

.p-datepicker-touch-ui,
.p-calendar .p-datepicker-touch-ui {
    min-width: 290px !important;
}

.p-multiselect-label {
    padding: 0px 0px 0px 10px !important;
}

.p-datatable-scrollable .p-datatable-wrapper {
    position: relative;
    overflow: scroll !important;
}

.p-datatable-responsive-scroll>.p-datatable-wrapper>table {
    overflow: hidden;
    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar-thumb {
        width: 10px;
        background: #a8a7a7;

    }
}


.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 0.2rem 0.5rem;
    border: 0 none;
    color: #495057;
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 0;
    font-size: 12px;
    width: 80%px;
}

.p-column-filter-overlay-menu {
    z-index: 102105 !important;
}

.p-datatable .p-datatable-thead>tr>.th {
    font-size: 16px !important;
    border-bottom: 2px solid #202020 !important;
    border-width: 0 0 1px 0;
    font-weight: 500;
    color: #fff;
    background: #B72126;
    transition: box-shadow 0.2s;
    height: 132px;
    align-items: center;
}


.p-multiselect-trigger-icon {
    padding-right: 12px;
}

.dropdown {
    position: inherit !important;
}

.mandetory-cntrl {
    border: 1.5px solid #1E9C98;

}



.p-multiselect .p-multiselect-panel {
    min-width: 100%;
    max-width: 300px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 0;
    padding: 0.75rem 1.25rem;
    border: 0 none;
    color: #495057;
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

// holiday

.nav-tabs {
    border-bottom: 1px solid #A8A8A8;
    height: 40px;
}

.nav-tabs .nav-item {
    color: #a8a8a8;
    outline: none;
    border: none;
    font-weight: 600;
    transition: all .4s ease;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color:#B72126;
    border-bottom: 2px solid #dacece;
    margin-bottom: -6px;
}

.nav-link {
    color: darkgray;
}

.nav-link:hover {
    color: darkgray;
}

.nav-tabs .nav-item {
    color: #a8a8a8;
    outline: none;
    border: none;
    font-weight: 600;
    transition: all .4s ease;
}

.nav-tabs .nav-link:hover {
    isolation: isolate;
    border-color: none !important;
    border: none !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead>tr>th {
    border-width: 0px !important;
}

// new 

.layout-menu ul li a {
    transition: all .4s ease;
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 35px;
    font-size: 12px;
    color: #fec925;
    padding-left: 10px;
    // border-top: 1px solid rgba(255, 255, 255, .1);
    // border-bottom: 1px solid black;
    margin-top: 2px;
}
.layout-menuitem-icon {
    font-size: 12px;
    padding-right: 15px;
}

.layout-menu {
    padding: 0;
    list-style-type: none;

    .layout-root-menuitem {
        >.layout-menuitem-root-text {
            font-size: .857rem;
            text-transform: uppercase;
            font-weight: 700;
            margin: .75rem 0;
        }

        >a {
            display: none;
        }
    }

    a {
        user-select: none;
        }
    }

   
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {

            .layout-menuitem-icon {
                margin-right: 15px;
                span {
                    height: 0px;
                    width: 0px;
                }
            }

          
        }

        ul {
            overflow: hidden;
            border-radius: 10px;
        }
    }


li.active-menuitem {
    >a {
        .layout-menuitem-icon {
            color: #fff!important;
        }
        .layout-menuitem-text {
            color: #fff!important;
        }

    }

}
.layout-static .layout-sidebar ul li ul li a {
    transition: all .4s ease;
    white-space: nowrap;
    gap: 2px;
}

li.active-menuitem>a:first-child {
    background-color:transparent;
    color: #fff!important;
    border-radius: 10px;
}

li.active-menuitem ul li a  {
    background-color:transparent;
    color: #fec925!important;
   border-radius: 10px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 0.2rem 0.5rem;
    border: 0 none;
    color: #495057;
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 0;
    font-size: 12px;
    width: 80%px;
}


.layout-static-inactive {

    .layout-sidebar {
        transition: all .4s ease;
        height: 100vh;

        & ul li ul li a span {
            display: none;
        }

        &ul li ul li a {
            width: inherit;
        }

        &ul li ul li a.layout-submenu-toggler {
            display: none;
            opacity: 0;
        }

        .layout-submenu-toggler {
            display: none;
            opacity: 0;
        }

        .layout-menu ul ul {
            display: none;
        }

        .layout-menu ul li a:hover,
        .layout-menu ul li a:focus {
            .layout-menu ul ul {
                background-color: transparent;
                // color: #fec925;
                display: block;
                height: 100%;
                width: 100%;
                line-height: 40px;
                font-size: 10px;
                padding-left: 10px;
                // border-top: 1px solid rgba(255, 255, 255, 0.1);
                // border-bottom: 1px solid black;
                // border: 1px solid #fec925;
            }
        }
    }
}
li.active-menuitem>a:first-child .layout-submenu-toggler {
    transform: rotate(-280deg);
}
.layout-menu li.active-menuitem>a .layout-submenu-toggler {
    transform: rotate(-180deg);
}
.layout-menu ul a .layout-submenu-toggler {
    margin-left: auto;
    font-size: 12px;
    transition: transform .2s;
    position: relative;
}
.active-menuitem>a .layout-submenu-toggler {
    transform: rotate(-180deg);
    color: #fff;
}
.layout-menu ul a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-menuitem-text {
    display: inline-block;
    width:118px;
}
.layout-menuitem-text:active,
.layout-menuitem-text:hover {
    display: inline-block;
    width:118px;
}
.p-datatable .p-paginator-bottom {
    border-width: 0 0 1px 0;
    border-radius: 0;
    height: 48px!important;
}
.p-button.p-button-icon-only{
    width: 5px !important;
    height: 5px !important;
}
.pi-check{
    color:green!important;
}
.pi-times{
    color: red !important;
   
}
.p-button.p-button-success{
    background-color: lightgreen!important;
    width: 5px !important;
    height: 5px !important;
}

.p-button.p-button-danger{
    background-color: lightsalmon!important;
    width: 5px !important;
    height: 5px !important;
}

.pi-pencil{
   color: darkblue !important; 
}

.table>:not(caption)>*>* {
    padding: .2rem .2rem!important;
    background-color: var(--bs-table-bg);
    border-bottom-width: 0px !important;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    
    
    .p-dropdown .p-dropdown-trigger {
        background: transparent;
        color: #6c757d;
        width: 1.5rem!important;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .p-paginator .p-dropdown {
        margin-left: 0.2rem!important;
        margin-right: 0.2rem!important;
        height: 2rem!important;
    }
    
    .p-paginator .p-paginator-pages .p-paginator-page {
        background-color: transparent;
        border: 0 none;
        color: #6c757d;
        min-width: 1.5rem!important;
        height: 1.5rem!important;
        margin: 0.143rem;
        transition: box-shadow 0.2s;
        border-radius: 50%;
    }

    // .p-datatable .p-datatable-thead > tr > th {
    //     text-align: left;
    //     padding: .2rem .2rem!important;
    //     border: 0.5px solid darkgray !important;
    //     border-width: 0 0 .5px 0;
    //     font-weight: 500;
    //     color: darkgray!important;
    //     background: #1e1e1f !important;
    //     transition: box-shadow 0.2s;
    // }
    
    .p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
        color: darkgray!important;
    }
    .p-datatable .p-sortable-column .p-sortable-column-icon {
        color: darkgray!important;
        margin-left: 0.5rem;
    }
    // .p-datatable .p-datatable-tbody > tr > td {
    //     text-align: left;
    //     border: .5px solid darkgray !important;
    //     border-width: 0 0 .5px 0;
    //     padding: .2rem .2rem !important;
    //     background-color: lightgrey;
    //     color:#000!important
    // }
    // .p-datatable .p-datatable-tbody > tr > td {
    //     text-align: left;
    //     border: .5px solid darkgray !important;
    //     border-width: 0 0 .5px 0;
    //     padding: .2rem .2rem !important;
    //    & span {
    //         font-weight: 300;
    //         font-size: .9rem;
    //         color:darkgray;
    //         text-decoration: none;
        
    //     }
    // }
    
    .p-dropdown .p-dropdown-trigger {
        background: transparent;
        color: #000!important;
        width: 2rem;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .p-dropdown li {
        padding: .2rem!important;
        & span{
            color: #0d0d0e!important; 
        }
    }
    
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
        color: #0d0d0e!important;
        background: #EFF6FF;
    }
    .p-checkbox .p-checkbox-box {
        border: 2px solid #ced4da;
        background: #ffffff;
        width: 18px!important;
        height: 18px!important;
    }

    .p-toast .p-toast-message .p-toast-message-content {
        padding: .6rem!important;
        border-width: 0 0 0 6px;
       
    }
    .p-toast{
        transform: translateY(30px)!important;
    }
    
    .p-button.p-button-icon-only.p-button-rounded {
        border-radius: 50%;
        height: 2rem!important;
    }
    .p-button.p-button-icon-only {
        width: 2rem!important;
        padding: 0.2rem 0!important;
    }
    .topbar_item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        & li a{
            color: #000!important;
            font-size: 14px;
        }
        & li a:hover,li a:active,li a:focus{
            color: #fff!important;
            font-size: 14px;
          
        }
        
    }
  
    .count{
        color: #fff;
        font-size: 18px !important;
        background: #080808;
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        margin-left: -13px;
        justify-content: center;
        align-items: center;
    }
    .toggleIcon{
        background-color: transparent;
        font-size: 15px;
        color:#0d0d0e;
        cursor: pointer;
      }
      .toggleIcon :hover{
          background-color: transparent;
          font-size: 15px;
          color:#0d0d0e;
          cursor: pointer;
      }


      .input-group-text {
        display: flex;
        align-items: center;
       
    }



    
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    padding: 0.2rem 0.2rem!important;
    font-size: 10px!important;
}

.p-datatable .p-datatable-tbody > tr {
    color: #202020 !important;
    transition: box-shadow 0.2s;

}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th{
    color: #fff !important;
    transition: box-shadow 0.2s;
    background-color: #000!important;
    font-size: 10px!important;
    padding: 0.2rem 0.2rem!important;
}

.p-datatable-responsive-scroll>.p-datatable-wrapper {
    overflow-y: scroll;
    height: 450px
}